#dependencies
/behind-the-scene/node_modules
/components/node_modules
/find-coach/node_modules
/forms/node_modules
/http-request/node_modules
/monster-slayer/node_modules
/provide-inject-props/node_modules
/vue-cli/node_modules
/vue-learning/node_modules
/vue-routing/node_modules
/vuex/node_modules
/vuex-challenge/node_modules

#production
/behind-the-scene/build
/components/build
/find-coach/build
/forms/build
/http-request/build
/monster-slayer/build
/provide-inject-props/build
/vue-cli/build
/vue-learning/build
/vue-routing/build
/vuex/build
/vuex-challenge/build

# Editor directories and files
/client/.vscode/*
/client/!.vscode/extensions.json
/client/.idea
/client/.DS_Store
/client/*.suo
/client/*.ntvs*
/client/*.njsproj
/client/*.sln
/client/*.sw?

# Env file 
/client/.env
/strapi/.env